<div class="container page-title">
    <div class="row">
      <h1>Discover</h1>
    </div>
    <br />
</div>

<section>
    <div class="description">
      <h3>Book Therepy</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quo deserunt similique, facilis labore architecto quod veritatis neque vitae dolor corporis reiciendis repellendus totam blanditiis vero soluta maiores quos enim?</p>
    </div><!--./ description end-->

    <div class="image">
      <img src="assets/img/scattered-books.jpg" alt="scattered books">
    </div><!--./ image end-->
  </section>

  <section>
    <div class="description">
      <h3>Book Club</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quo deserunt similique, facilis labore architecto quod veritatis neque vitae dolor corporis reiciendis repellendus totam blanditiis vero soluta maiores quos enim?</p>
    </div><!--./ description end-->

    <div class="image">
      <img src="assets/img/library.jpg" alt="library wall of books">
    </div><!--./ image end-->
  </section>

  <section>
    <div class="description">
      <h3>Keep Track</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quo deserunt similique, facilis labore architecto quod veritatis neque vitae dolor corporis reiciendis repellendus totam blanditiis vero soluta maiores quos enim?</p>
    </div><!--./ description end-->

    <div class="image">
      <img src="assets/img/old-books.jpg" alt="Old books">
    </div><!--./ image end-->
  </section>